/* Beauty page responsiveness */
/* Tablets (768px - 992px): 2 columns layout */
@media (max-width: 992px) {
    .bty1 {
        width: 992px; /* Full width */
        background-color: #e2e8f0;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 divs per row */
        gap: 20px; /* Space between divs */
        justify-content: center;
        padding: 20px;
    }

    .but12 {
        width: 400px; /* Adjusted for responsiveness */
        max-width: 400px; /* Set max width */
        height: 500px; /* Increased height */
        background-color: white;
        border: none;
        border-radius: 20px;
        padding: 20px;
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .but12:hover {
        transform: translateY(-10px);
        color: rgb(162, 107, 213);
    }

    .ht {
        background-color: #e2e8f0;
        text-align: center;
        padding-top: 100px;
    }
    .im2{
      margin-top: 20px;
    }
    

    .bt {
        background-color: #e2e8f0;
        width: 992px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Mobile (Below 768px): 1 column layout */
@media (max-width: 768px) {
    .bty1 {
        width: 768px;
        background-color: #e2e8f0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .but12 {
        width: 400px;
        max-width: 400px;
        height: 400px;
        background-color: white;
        border: none;
        border-radius: 20px;
        padding: 15px;
        transition: transform 0.3s ease-in-out;
    }

    .but12:hover {
        transform: translateY(-10px);
        color: rgb(162, 107, 213);
    }

    .ht {
        background-color: #e2e8f0;
        text-align: center;
        padding-top: 200px;
    }

    .bt {
        background-color: #e2e8f0;
        width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
/* beauty detail page responsiveness */ 
@media (max-width:992px) {
    .main1{
        width : 992x;
        height : 1600px;
        padding: 150px;
        background-color : #e2e8f0;
      }
      .main2{
        /* padding-top: 100px; */
        /* width : 1000px; */
        width: 700px;
        border: none;
        border-radius: 10px;
        align-items : center; 
        justify-content : center;
         
        
        margin-bottom: 50px;
        
      
      }
      
      
      .main3{
      align-items : center; 
        justify-content : center;
        font-style: italic;
        font-size: 3rem;
      }
      .main4{
        width:300px;
        height: 200px;
        display: flex;
        background-color: white;
        margin-right: 50px;
        border: none;
        border-radius: 20px;
        padding-top: 20px;
      }
      .main5{
        width: 150px;
          height: 150px;
          margin-left: 20px;
          margin-right: 10px;
          border: none;
      
      
      }
      .main6{
        margin-left: 10px;
        font-size: 1rem;
        margin-top: 50px;
      }
      .main7{
        margin-top: 30px;
        font-style: initial;
        font-size: 1rem;
      }
      .main8{
        width: 750px;
        margin-bottom: 50px;
        display: flex;
        background-color: #e2e8f0;
      }
      .main9{
        width: 350px;
        height: 100px;
        border: none;
        color: gray;
        border-radius: 20px;
        margin-left: 20px;
      }
      .main11{
        background-color: rgb(57, 57, 192);
          color: #e2e8f0;
          border: none;
          border-radius: 10px;
          width:150px;
          height: 70px;
          margin-left: 600px;
      }
      .main12{
        background-color: rgb(57, 57, 192);
          color: #e2e8f0;
          border: none;
          border-radius: 10px;
          width:100px;
          height: 50px;
          /* margin-left: 50px; */
          /* margin-right: 30px; */
          margin-top: 100px;
      
      
      }

    
}
@media (max-width:768px) {
    .main1{
        width : 768x;
        height : 1600px;
        padding: 150px;
        background-color : #e2e8f0;
      }
      .main2{
        /* padding-top: 100px; */
        /* width : 1000px; */
        width: 500px;
        border: none;
        border-radius: 10px;
        align-items : center; 
        justify-content : center;
         
        
        margin-bottom: 50px;
        
      
      }
      
      
      .main3{
      align-items : center; 
        justify-content : center;
        font-style: italic;
        font-size: 2rem;
      }
      .main4{
        width:250px;
        height: 200px;
        display: flex;
        background-color: white;
        margin-right: 20px;
        border: none;
        border-radius: 20px;
        padding-top: 10px;
      }
      .main5{
        width: 100px;
          height: 100px;
          margin-left: 20px;
          margin-right: 10px;
          border: none;
      
      
      }
      .main6{
        margin-left: 10px;
        font-size: 1rem;
        margin-top: 50px;
      }
      .main7{
        margin-top: 30px;
        font-style: initial;
        font-size: 1rem;
      }
      .main8{
        width: 500px;
        margin-bottom: 50px;
        display: flex;
        background-color: #e2e8f0;
      }
      .main9{
        width: 250px;
        height: 100px;
        border: none;
        color: gray;
        border-radius: 20px;
        margin-left: 20px;
      }
      .main11{
        background-color: rgb(57, 57, 192);
          color: #e2e8f0;
          border: none;
          border-radius: 10px;
          width:100px;
          height: 70px;
          margin-left: 400px;
      }
      .main12{
        background-color: rgb(57, 57, 192);
          color: #e2e8f0;
          border: none;
          border-radius: 10px;
          width:150px;
          height: 50px;
          /* margin-left: 50px; */
          /* margin-right: 30px; */
          margin-top: 100px;
      
      
      }

    
    
}


@media(max-width:992px){
  .lst{
  width: 992px;
  height: auto;
  background-color:#e2e8f0 ;

}
.ls1{
  width:992px;
  background-color:#e2e8f0 ;
     height: 3500px;
     display: grid; 
     grid-template-columns: repeat(2, 1fr); 
     margin-bottom: 100px;
 
}
.ls{
  width: 350px;
  height:600px;
  background-color: white;
  margin-left: 30px;
 
  margin-bottom: 100px;
  border: none;
  border-radius: 20px;

 
}
.ls:hover{
  transform: translateY(-20px);
  color:  rgb(162, 107, 213);;
}
.ims{
   width: 350px;
  height: 300px;
  border: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}
.ls2{
  color: gray;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

}

}
@media(max-width:768px){
  .lst{
  width: 768px;
  height: auto;
  background-color:#e2e8f0 ;

}
.ls1{
  width:768px;
  background-color:#e2e8f0 ;
     height: auto;
     display: grid; 
     grid-template-columns: repeat(2, 1fr); 
     margin-bottom: 100px;
 
}
.ls{
  width: 350px;
  height:600px;
  background-color: white;
  margin-left: 10px;
 
  margin-bottom: 100px;
  border: none;
  border-radius: 20px;

 
}
.ls:hover{
  transform: translateY(-20px);
  color:  rgb(162, 107, 213);;
}
.ims{
   width: 350px;
  height: 300px;
  border: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}
.ls2{
  color: gray;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

}

}
@media (max-width:992px) {
  .fs1{
    width:992px;
    background-color:#e2e8f0 ;
       height: auto;
       display: grid; 
       grid-template-columns: repeat(2, 1fr); 
       
   
    
}
.fs:hover{
    transform: translateY(-20px);
    color:  rgb(162, 107, 213);
}
.fs{
    width: 320px;
    height:400px;
    background-color: white;
    margin-left: 50px;
   margin-right: 50px;
    margin-bottom: 100px;
    border: none;
    border-radius: 20px;

   
    
}
.fst{
    width: 992px;
    height: auto;
    background-color:#e2e8f0 ;
}
.imf{
    width: 320px;
    height: 200px;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;


}
.pp{
    color: gray;
    margin-left: 50px;
}
}
@media (max-width:768px) {
  .fs1{
    width:768px;
    background-color:#e2e8f0 ;
       height: auto;
       display: grid; 
       grid-template-columns: repeat(2, 1fr); 
       
   
    
}
.fs:hover{
    transform: translateY(-20px);
    color:  rgb(162, 107, 213);
}
.fs{
    width: 320px;
    height:400px;
    background-color: white;
    margin-left: 30px;
   margin-right: 30px;
    margin-bottom: 100px;
    border: none;
    border-radius: 20px;

   
    
}
.fst{
    width: 768px;
    height: auto;
    background-color:#e2e8f0 ;
}
.imf{
    width: 320px;
    height: 200px;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;


}
.pp{
    color: gray;
    margin-left: 50px;
}
}
