.customstyle{
 width: 100%;
 height:100%;
background-color:#e2e8f0;
margin-top: 100px;

}
.heading{
    color: #e2e8f0;

}
.nav {
    position: fixed;
    top: 20px; 
    left: 0; 
    width: 100%; 
    height: 100px;
    background-color: white;
    color: black;
    padding: 22px;
    display: flex;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
.heading{
    color: black;
    margin-right: 120px;
    margin-left: 5px;
}
.search{
    width: 400px;
    padding: 14px;
    color: gray;
    border: none;
    background-color: #e2e8f0;

}
.image{
    width: 50px;
    height: 50px;
}
.main{
    background-color:#e2e8f0;
}
.btn{
    padding: 14px;
    color: gray;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    width: 100px;
    transition: 3s ease;
 }
 .btn:hover{
    color: blueviolet;
 }
    
 
  
  .menu{ 

    background-color: #e2e8f0;
    width: 1350px;
    height:300px;
}

.dsn{
    width: 250px;
    height: 100px;
    color: gray;
    background-color: white;
    margin-left: 50px;
    margin-top: 190px;
    padding: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease; 

    border: none;
    border-radius: 20px;



}
.dsn:hover{
    transform: translateY(-20px); 
    background-color: white; 
    color: blueviolet; 
}
   

.image1{
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
 } 


.slider1{
    width: 1350px;
    height:600px;
    background-color: #e2e8f0;
    display: flex;
    
}
.d1{
    width: 850px;
    height: 600px;
    background-color: #e2e8f0;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
}
.b1{
    
    color: blueviolet;
    width: 150px;
    height: 50px;
    background-color: aliceblue;
    border: none;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 100px;
    
}
C1{
    width: 700px;
    height: 500px;
    background-color: #e2e8f0;
    font-size: 200px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    
}
.p1{
    color:gray;
    margin-top: 100px;
}
.d2{
    width: 500px;
    height:600px ;
    margin-top: 50px;
}
.I1{
    width: 400px;
    height: 500px;
    border: none;
    border-radius: 50px;

}

